div.rotate {
    position:relative;
    text-align:center;
    overflow:hidden;
}

div.rotate div {
    margin:auto;
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    transition-property: opacity;
    transition-duration: 2s;
    opacity:0;
    background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div.rotate .title {
    bottom:0;
    position:absolute;
    left:0;
    right:0;

}

div.rotate .hide {
    opacity:0;
}


div.rotate .show {
    opacity:1;
}
